.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.subscribe {
  background-color: $color-primary;
  color: #000;
  display: inline-block;
  text-decoration: none;
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.heading-1 {
  font-size: 4rem;
}

.heading-2 {
  font-size: 3rem;
}

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6rem;
}
